.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--sp-4) 0;
}

.svg {
    max-width: 100%;
    height: auto;
}

.label {
    font-size: 10px;
    font-family: var(--font-body);
    fill: var(--text-2);
    font-weight: 500;
}
